@model Vidly.ViewModels.RandomMovieViewModel

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Movie.Name </h2>


@if (Model.Customers.Count == 0)
{
    <h2>No one has seen this movie.</h2>
}
else
{


<ul>

    @foreach (var customer in Model.Customers)
    {
        <li>@customer.Id - @customer.Name</li>
    }
</ul>
}
